<!doctype html>
<html lang="en">
<head><title>Login - {{ mode.capitalize() }} Password</title></head>
<body>
  <h1>Login - {{ mode.capitalize() }} Password</h1>

  <form method="POST">
    <input type="password" name="password" placeholder="Enter password" required>
    <button type="submit">Login</button>
  </form>

  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}

  <hr>
  <p>Try other password types:</p>
  <ul>
    <li><a href="/login/static">Static Password</a></li>
    <li><a href="/login/random">Random Password</a></li>
    <li><a href="/login/secure">Secure Password</a></li>
  </ul>
</body>
</html>
